/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 415px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  text-align: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

/* ====================================
// base rules
// ==================================== */

.logoD-D_container {
  background: #e7e7db;
  border-bottom: 3px solid #df0000;
}

.logoD-D {
  margin: auto;
  display: block;
  padding: 11px 0 14px;
}

.coverST {
  border-bottom: 3px solid #df0000;
}

h1 {
  padding: 25px 30px;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
}

.red_text {
  color: #df0000;
}

header {
  border-bottom: 1px solid #df0000;
}
